h1 {
    background-color: #37b09c;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.nav-link {
    color:#666;
    text-align: center;
    margin: 0;
    position: relative;
    top: 30%;
    padding-bottom: 5px;
    height: 45%;
    padding-top: 30px;
}
#contact {
    
}

#navbard {
    background-color: #eee;
}

#AboutMe {
    background-color: #eee;
    margin: 30px;
}
h3 {
    color: #37b09c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: #666;
}

@media screen and (max-width: 767px){
    a#bob.nav-link {
        margin-left: 70px;
    }
    div#AboutMe.container{
        padding: auto;
        margin: auto;
    }
    div.col-md-2.col-sm-12.col-lg-4.col-xs-12 {
        margin:0;
        padding:0;
    }
    div.col-md-4.col-sm-7.col-xs-6 {
        left: 90px;
    }
    div.col-md-6.col-sm-6.col-xs-6 {
        margin-left: 135px;
    }
}

@media screen and (max-width: 375px){
    a#bob.nav-link{
        margin-left: 0px;
    }
}

@media screen and (max-width: 575px){
    div.col-md-4.col-sm-7.col-xs-6 {
        left: 150   px;
    }
    div.row {
        margin-top: 10px;
    }
    div.col-md-6.col-sm-6.col-xs-6 {
        margin-left: 10px;
    }
}